<h1>SHOWWWWW</h1>

<p>Product: <%= @product_selected['name'] %></p>
<p>Description: <%= @product_selected['description']%></p>
<p>Price: <%= @product_selected['price']%></p>
<p>Rating: <%= @product_selected['rating']%></p>

<div>
    <form action='/everydaymart/<%= @category_selected %>/<%= @product_selected['id']%>' method="POST">
    <input type="hidden" id="<%= @product_selected['id']%>"></input>
    <button type='submit'>Add to Cart</button>
    </form>
</div>




<h3>reviews</h3>

<% @reviews.each do |review|%>

    <p> <%= review['rating'] %>, <%= review['comment'] %></p>

<% end %>