<p>Product: <%= @product_selected['name'] %></p>
<p>Description: <%= @product_selected['description']%></p>
<p>Price: <%= @product_selected['price']%></p>
<p>Rating: <%= @product_selected['rating']%></p>
<h3>reviews</h3>

<% @reviews.each do |review|%>

    <p> <%= review['rating'] %>, <%= review['comment'] %></p>

<% end %>